page-van-khan-ct {
    .scroll-content {
        top: 61px !important;
    }
    .content-md {
        background: linear-gradient(to right, #5A8166, #145355);
    }
    .content-ios {
        background: linear-gradient(to right, #5A8166, #145355);
    }
    .background-header {
        background: #145355;
    }
    .header-button {
        height: 25px;
        width: 25px;
    }
    .back {
        border-radius: 50%;
        border: 2px solid white;
        background: rgba(white, 0.2);
        ion-icon {
            color: #fff;
        }
    }
    .title {
        text-transform: uppercase;
        font-size: 1.5em;
        span {
            color: white;
        }
    }
    .height-56 {
        height: 56px;
    }
    .appContentVK {
        margin: auto;
        overflow: auto;
        width: 90%;
        background: rgba(black, 0.4);
        border-radius: 10px;
    }
    .content-title {
        span {
            font-size: 1.5em;
            font-weight: bold;
            color: white;
        }
    }
    .content-text {
        p {
            line-height: 1.2em;
            color: white;
            white-space: pre-wrap;
            text-align: justify;
            font-size: 1.2em;
        }
    }
    .setting-text {
        right: 16px;
        top: 14px;
        span {
            color: white;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
}