page-number-rich {
    $background: linear-gradient(to bottom, #14e09c, #274c7c);
    ion-content {
        background: $background;
    }
    .height-56 {
        height: 56px;
    }
    .header-button {
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }
    .back-button {
        border: 1px solid white;
        background: rgba(white, 0.4);
        ion-icon {
            line-height: unset;
            color: white
        }
    }
    .back-button:active {
        background: rgba(black, 0.6);
    }
    .title {
        text-transform: uppercase;
        color: white;
        font-size: larger;
    }
    .pageNumber-container {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    .view-button {
        border: 1px solid white;
        background: rgba(black, 0.4);
        border-radius: 5px;
        padding: 8px;
        width: 30%;
        margin: auto;
        margin-top: 32px;
        span {
            color: white;
        }
    }
    .text-input-md {
        color: white;
        width: 100%;
        margin: 0;
        margin-top: 13px;
        margin-bottom: 5px;
        // padding-bottom: 3px;
    }
    ion-input {
        border-bottom: 1px solid white;
    }
    .text-input-ios {
        color: white;
    }
    .text-input::-moz-placeholder {
        color: white;
    }
    .text-input:-ms-input-placeholder {
        color: white;
    }
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
    }
}