page-van-khan {
    $background: linear-gradient(to bottom, #14e09c, #274c7c);
    .header-md::after {
        height: 0;
    }
    .content-md {
        background: $background;
    }
    .content-ios {
        background: $background;
    }
    .background-header {
        background: rgba(black, 0.4);
    }
    .header-button {
        height: 28px;
        width: 28px;
    }
    .searchBar {
        position: absolute;
        top: 0;
        height: 56px;
        animation-duration: 500ms;
    }
    .back {
        border-radius: 50%;
        border: 1px solid white;
        background: rgba(white, 0.2);
        ion-icon {
            color: #fff;
            line-height: unset;
        }
    }
    .title {
        text-transform: uppercase;
        font-size: 1.5em;
        span {
            color: white;
        }
    }
    .height-56 {
        height: 56px;
    }
    .list-container {
        overflow: auto;
        .div-item {
            width: 90%;
            margin: auto;
            padding-left: 16px;
            margin-bottom: 10px;
            color: white;
            background: rgba(black, 0.4);
            .item-content {
                width: 90%;
            }
            .item-end {
                width: 10%;
                text-align: center;
            }
        }
    }
}