<ion-header class="background-header">
    <div class="a3-container height-56 a3-items-center a3-justify-between">
        <div margin-left class="header-button back a3-container-center" (click)="closeView()">
            <ion-icon name="arrow-back"></ion-icon>
        </div>
        <div class="title">
            <span>Văn Khấn</span>
        </div>
        <div margin-right class="header-button back a3-container-center" (click)="search()">
            <ion-icon name="search"></ion-icon>
        </div>
    </div>
    <ion-searchbar *ngIf="isClickSearch" #searchBar class="searchBar animated slideInRight" [animated]="true" [showCancelButton]="true" (ionInput)="getItems($event)" (ionCancel)="cancel()"></ion-searchbar>
</ion-header>
<ion-content>
    <div class="list-container" margin-top>
        <div [style.height]="item_height" class="div-item a3-container-center" *ngFor="let item of data" (click)="viewItem(item)">
            <div class="item-content"><span>{{item.TenLoai}}</span></div>
            <div class="item-end">
                <ion-icon name="arrow-forward"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>