page-departure-loading {
    ion-content {
        background-image: url("../assets/departure/splash.png");
        background-size: cover;
        background-position: center;
        background-repeat: none;
    }
}